html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #b7c9e2;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

header {
  display: grid;
  grid-column: 1/5;
  width: 35rem;
}

h1 {
  font-size: 2rem;
  color: #4a4a4a;
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-style: normal;
  width: 100%;
}

nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}

nav ul {
  display: none;
  flex-direction: column;
  list-style-type: none;
}

nav .toggle {
  align-self: flex-end;
  position: absolute;
}

.show-items {
  display: flex;
}

nav a {
  text-decoration: none;
  color: #4a4a4a;
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

nav li {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  font-size: 2rem;
  text-transform: uppercase;
}

.hero h2 {
  padding-top: 15px;
  font-size: 2rem;
}
.hero-img {
  width: 100%;
  height: auto;
}
footer {
  grid-column: 1 / 5;
}

@media only screen and (min-width: 1200px) {
  nav ul {
    display: flex;
    flex-direction: row;
  }
  nav .toggle {
    display: none;
  }
}
